server {
	listen 80 default_server;
	listen [::]:80 default_server ipv6only=on;

	# Redirect to main host.
	return 301 $scheme://{{ inventory_hostname }};

	# But keep some root settings, just to be sure.
	root /usr/share/nginx/html;
	index index.html index.htm;

	# Make site accessible from http://localhost/
	server_name localhost;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
		# Uncomment to enable naxsi on this location
		# include /etc/nginx/naxsi.rules
	}
}
